---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/BlogPost.astro";
---
<Header/>

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={"23.04.2023"}
	heroImage={"/placeholder-about.jpg"}
>

	<p>
		As an autodidact developer hailing from the town of Neuburg an der
		Donau, I find myself thoroughly engrossed in the intricacies of computer
		software and hardware. My fervent passion for this field has led me to
		acquire extensive knowledge in the installation and removal of hardware
		components, as well as the operation of various operating systems and
		user software.
	</p>
	<p>
		To further expand my repertoire of IT knowledge, I have immersed myself
		in specialist literature sourced from the Munich library. Among the
		numerous gems I have uncovered, two books in particular, "The Data
		Science Design Manual" by a Ph.D. in Computer Science from the Stony
		Brook University of New York, and "Contemporary Abstract Algebra" by a
		Ph.D. in Mathematics and Statistics from the University of Minnesota
		Duluth, have left a lasting impression on me. These books have not only
		provided me with a solid introduction to traditional topics of abstract
		and numerical algebra but have also highlighted the contemporary and
		active nature of this subject, which is currently being utilized by
		professionals in the fields of physics, chemistry, and computer science.
	</p>
	<p>
		In my pursuit of knowledge, I have adopted a rigorous approach to
		learning, following the Bloom's taxonomy framework, which effectively
		outlines the different levels of learning and comprehensively explains
		the nuances of each level. This has proven to be a highly effective
		learning methodology for me, enabling me to grasp complex concepts with
		ease.
	</p>
	<p>
		In conclusion, my unwavering enthusiasm for the world of IT coupled with
		my diligent learning methodology has facilitated my continuous growth as
		a developer, allowing me to stay abreast of the latest advancements in
		this exciting field.
	</p>
</Layout>
<Footer />