---
const today = new Date();
---
<hr>
<footer>
	&copy; {today.getFullYear()} Kacper Sobczak <a href="https://github.com/lyffski">(@lyffski)</a>. All rights reserved.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
