---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---


<header>
  <!-- 	<h2>
		{SITE_TITLE}
	</h2> -->
  <nav>
    <span style="padding-right: 50px; font-size: 20px">Kacper P. Sobczak</span>
    <HeaderLink href="/">Home</HeaderLink>
    <HeaderLink href="/blog">Blog</HeaderLink>
    <HeaderLink href="/about">About</HeaderLink>
    <HeaderLink href="_blank">Portfolio</HeaderLink>
    <HeaderLink href="https://github.com/lyffski" target="_blank">
      GitHub
    </HeaderLink>
    <a class="cv" href="./Curriculum vitae - Kacper Sobczak.pdf.pdf" download rel="noopener noreferrer">CV</a>
  </nav>
  <hr />
</header>
<style>
  header {
    margin: 0em 0 2em;
    margin: 0.5em 0;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 5px;
    /* border-bottom: 1px solid #eee; */
  }

  a{
    text-decoration: none;
  }
  @media  (max-width: 670px) {
  span {display: none}}


</style>
