---
---

<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style> 
.desc{
    color: rgb(73, 78, 82);
    font-size: 12px;
    padding: 5px;
}
.desc1{ color: rgb(73, 78, 82);
    font-size: 12px;
    padding: 0px;
}
a{
    text-decoration: none;
    color:rgb(73, 78, 82)
}
a:hover{
    text-decoration: underline;
}
.image-cropper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    
  }
  aside {
    align-items: right;
        margin-left: auto;
  }  
</style>
  <link rel="stylesheet" href="/assets/sidebar.css" />
</head>

<body>
  <aside class="sidebar">
    <div class="icon">
        <div class="image-cropper"><img src="https://images.unsplash.com/photo-1640952131659-49a06dd90ad2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"></div>
        <div>Kacper P. <br> Sobczak</div>
        <p class="desc1">Tech enthusiast and Professional Software Developer</p>
       <!--  <a href="#">
        <i class="fa fa-bars"></i>
      </a> -->
    </div>
    <div>
        <div class="desc"><i class="fa fa-map-marker" aria-hidden="true"></i>
             Neuburg a. d. Donau</div>
        <div class="desc"><a href="blank_"><i class="fa fa-address-card" aria-hidden="true"></i>
             Portfolio</a></div>
             <div class="desc"><i class="fa fa-github" aria-hidden="true"></i>
                <a href="https://github.com/lyffski" target="_blank"> Github</a></div>
                <div class="desc"><a target="_blank" href="https://stackoverflow.com/users/13285737/kacper-sobczak"><i class="fa fa-stack-overflow" aria-hidden="true"></i>
                    StackOverflow</a></div>
            <div class="desc">
                <a href="https://github.com/lyffski" target="_blank"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Google Scholar</a></div>
    </div>
  </aside>
</body>
